/**************
  FIRST CONTAINER 
  ***************/
  #firstContainer {
    height: 200px;
    width: calc(100% - 40px);
    border: 20px solid black;
  }
  .black:first-child{
    border-bottom: 20px solid black;
  }
  .blue {
    height: 90px;
    background-color: #2d4059;
  }
  .red {
    display: flex;
    flex-wrap: wrap;
  }
  .red-items {
    height: 20px;
    width: 100% !important;
    margin: 5px;
  }
  .orange {
    border: 24px solid #f07b3f;
  }
  .yellow {
    border: 12px solid #fed460;
  }

/****************
SECOND CONTAINER
****************/
#secondContainer {
    display: flex;
    height: 400px;
    width: calc(100% - 40px);
    flex-wrap: wrap;
    border: 20px solid #feff03;
  }
  
  .purple {
    height: 60%;
    width: 100%;
    background-color: #1A5D77;
    border-bottom: 20px solid #feff03;
    border-right: none;
  }
  
  .purple-items {
    height: 20px;
    width: 80%;
    margin: 11px;
    background-color: #62959C;
  }
  
  .light-blue {
    background-color: #A3DDCB;
  }
  
  .light-red {
    display: flex;
    height: 35%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FD7B54;
    border: none;
  }
  
  .light-red-items {
    height: 24px;
    width: 80%;
    background-color: #FDB36B;
    margin:-30px auto;
  }
  
  .light-red-items:first-child {
    margin-bottom: -29%;
  }
  /****************
   THIRD CONTAINER
  ****************/
   #thirdContainer {
    height: 24px;
    width: calc(100% - 40px);
    background-color: #FDC764;
    border: 20px solid black;
  }
}

/*////////////// -- Tablet View -- //////////////// */
/****  767px  *****/
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  section {
    width: 80%;
    padding: 10px;
  }
  .container {
    width: 90%;
  }
  /****************
     FIRST CONTAINER
   ****************/
  #firstContainer {
    height: 140px;
    border: 20px solid black;
  }
  .black {
    border-bottom: 10px solid black;
  }
  .black:first-child {
    border-bottom: 10px solid black;
  }
  .blue {
    border: 20px solid #2d4059;
  }
  .red {
    height: 20px;
  }
  .orange {
    border: 24px solid #f07b3f;
  }
  .yellow {
    border: 12px solid #fed460;
  }

  /****************
    SECOND CONTAINER
   *****************/
  #secondContainer {
    display: flex;
    height: 240px;
    flex-wrap: wrap;
    border: 20px solid #feff03;
  }
  .purple {
    height: 58%;
    width: 100%;
    border-right: none;
    border-bottom: 10px solid #feff03;
  }

  .purple-items {
    height: 22px;
    width: 44%;
    margin: 8px;
  }

  .light-blue {
    width: 90%;
  }

  .light-red {
    height: 39%;
    width: 100%;
    border: none;
  }

  .light-red-items {
    height: 22px;
    margin: 0px auto;
  }
  .light-red-items:first-child {
    margin-bottom: -25px;
  }

  /****************
    THIRD CONTAINER
    ***************/
  #thirdContainer {
    height: 24px;
    border: 20px solid black;
  }
}

/****  1024px  *****/
@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  section {
    width: 640px;
    padding: 30px;
  }

  /****************
    FIRST CONTAINER
   ****************/
  #firstContainer {
    height: 140px;
    border: 20px solid black;
  }
  .black {
    border-bottom: 10px solid black;
  }
  .black:first-child {
    border-bottom: 10px solid black;
  }
  .blue {
    border: 20px solid #2d4059;
  }
  .red {
    height: 20px;
  }
  .orange {
    border: 24px solid #f07b3f;
  }
  .yellow {
    border: 12px solid #fed460;
  }

  /****************
    SECOND CONTAINER
  *****************/
  #secondContainer {
    display: flex;
    height: 260px;
    flex-wrap: wrap;
    border: 20px solid #feff03;
  }
  .purple {
    height: 58%;
    width: 100%;
    border-right: none;
    border-bottom: 10px solid #feff03;
  }

  .purple-items {
    height: 22px;
    width: 44%;
    margin: 8px;
  }

  .light-blue {
    width: 90%;
  }

  .light-red {
    height: 39%;
    width: 100%;
    border: none;
  }

  .light-red-items {
    height: 24px;
    margin: 0px auto;
  }

  /****************
     THIRD CONTAINER
    ***************/
  #thirdContainer {
    height: 24px;
    border: 20px solid black;
  }
}
